/* Banner Home Page */

.banner.home-page {
  padding: 29rem 0;
  background-image: url("../../../image/banner-homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.banner.home-page .wrap {
  max-width: 112.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner.home-page .wrap h1 {
  margin-bottom: 6.5rem;
  text-align: center;
}

.banner.home-page h1 span {
  display: block;
  font-family: mb;
  color: var(--primary-cl);
}

.banner.home-page .btn {
  --w-btn: 17.5rem;
  --h-btn: 5.8rem;
  --fs-btn: 2.4rem;
}

.banner.home-page .btn.btn-primary {
  --cl: var(--white-cl);
  --border-cl: transparent;
  --bg-cl: var(--second-cl);
}

.banner.home-page .btn.btn-primary:hover {
  --cl: var(--white-cl);
  --border-cl: transparent;
  --bg-cl: var(--primary-cl);
}

/* Banner Default */

.banner.default {
  padding: 6.7rem 0;
  background-color: var(--second-cl);
}

.banner.default .wrap {
  color: var(--white-cl);
}

/* Banner Feature */

.banner.feature {
  height: 49.8rem;
  padding: 10rem 0;
  position: relative;
  background-color: var(--second-cl);
}

.banner.feature .bg-trapezium-xl {
  --w-bg-trapezium-xl: 44%;
  --border-bt-trapezium: 58.4rem;
  --border-l-trapezium: 26rem;
}

.banner.feature .feature-wrap {
  position: relative;
}

.banner.feature .feature-content {
  max-width: 74.4rem;
}

.banner.feature .feature-content h2,
.banner.feature .feature-content .des {
  color: var(--white-cl);
}

.banner.feature .feature-content h2 {
  margin-bottom: 1.2rem;
  position: relative;
  z-index: 1;
}

.banner.feature .feature-content .des {
  margin-bottom: 3.2rem;
}

.banner.feature .btn {
  --w-btn: 21.1rem;
  --h-btn: 5.8rem;
  --fs-btn: 2.4rem;
}

.banner.feature .btn.btn-primary {
  --cl: var(--second-cl);
  --border-cl: transparent;
  --bg-cl: var(--white-cl);
}

.banner.feature .btn.btn-primary:hover {
  --cl: var(--white-cl);
  --border-cl: transparent;
  --bg-cl: var(--primary-cl);
}

.banner.feature .circle-disc-blue {
  position: absolute;
  top: -51px;
  left: -71px;
  z-index: 0;
}

.banner.feature .bg-feature-img {
  position: absolute;
  top: -8.6rem;
  left: 85rem;
  z-index: 3;
}
