/* Banner Home Page */

.banner.home-page {
  padding: 29rem 0;
  background-image: url("../../../image/banner-homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.banner.home-page .wrap {
  max-width: 112.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner.home-page .wrap h1 {
  margin-bottom: 6.5rem;
  text-align: center;
}

.banner.home-page h1 span {
  display: block;
  font-family: mb;
  color: var(--primary-cl);
}

.banner.home-page .btn {
  --w-btn: 17.5rem;
  --h-btn: 5.8rem;
  --fs-btn: 2.4rem;
}

.banner.home-page .btn.btn-primary {
  --cl: var(--white-cl);
  --border-cl: transparent;
  --bg-cl: var(--second-cl);
}

.banner.home-page .btn.btn-primary:hover {
  --cl: var(--white-cl);
  --border-cl: transparent;
  --bg-cl: var(--primary-cl);
}

/* Banner Default */

.banner.default {
  padding: 6.7rem 0;
  background-color: var(--second-cl);
}

.banner.default .wrap {
  color: var(--white-cl);
}

/* Banner Feature */

.banner.feature {
  height: 49.8rem;
  padding: 10rem 0;
  position: relative;
  background-color: var(--second-cl);
}

.banner.feature .bg-trapezium-xl {
  --w-bg-trapezium-xl: 44%;
  --border-bt-trapezium: 58.4rem;
  --border-l-trapezium: 16rem;
}

.banner.feature .feature-wrap {
  position: relative;
}

.banner.feature .feature-content {
  max-width: 74.4rem;
}

.banner.feature .feature-content h2,
.banner.feature .feature-content .des {
  color: var(--white-cl);
}

.banner.feature .feature-content h2 {
  margin-bottom: 1.2rem;
  position: relative;
  z-index: 1;
}

.banner.feature .feature-content .des {
  margin-bottom: 3.2rem;
}

.banner.feature .btn {
  --w-btn: 21.1rem;
  --h-btn: 5.8rem;
  --fs-btn: 2.4rem;
}

.banner.feature .btn.btn-primary {
  --cl: var(--second-cl);
  --border-cl: transparent;
  --bg-cl: var(--white-cl);
}

.banner.feature .btn.btn-primary:hover {
  --cl: var(--white-cl);
  --border-cl: transparent;
  --bg-cl: var(--primary-cl);
}

.banner.feature .circle-disc-blue {
  position: absolute;
  top: -51px;
  left: -71px;
  z-index: 0;
}

.banner.feature .bg-feature-img {
  width: 100%;
  position: absolute;
  z-index: 3;
}

/* Banner Client */

.banner.client {
  padding: 12rem 0 27.5rem;
  position: relative;
  overflow: hidden;
  background-image: url("../../../image/bg-client.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner.client .client-wrap {
  position: relative;
}

.banner.client .client-content {
  max-width: 67.6rem;
  position: relative;
  z-index: 1;
  color: var(--white-cl);
}

.banner.client .client-content h2,
.banner.client .client-content h4 {
  margin-bottom: 0;
}

.banner.client .client-content h4 {
  max-width: 57.3rem;
  font-family: hl;
  margin-top: 1.2rem;
  line-height: 3.6rem;
}

.banner.client .bg-circle {
  position: absolute;
  bottom: -34.5rem;
  right: -34.5rem;
}

.banner.client .circle-disc-blue {
  position: absolute;
  top: -5.5rem;
  left: -7.5rem;
  z-index: 0;
}

@media (max-width: 1399.98px) {
  /* Banner Feature */

  .banner.feature {
    height: auto;
  }

  .banner.feature .bg-trapezium-xl {
    --w-bg-trapezium-xl: 47%;
    --border-bt-trapezium: 51rem;
  }

  .banner.feature .feature-content {
    max-width: 63rem;
  }
}

@media (min-width: 992px) and (max-width: 1399.98px) {
  /* Banner Feature */

  .banner.feature .feature-content h2 {
    font-size: 4rem;
  }
}

@media (max-width: 1199.98px) {
  /* Banner Home Page */

  .banner.home-page {
    padding: 15rem 0;
  }

  /* Banner Feature */

  .banner.feature .bg-trapezium-xl {
    --border-bt-trapezium: 47rem;
  }

  .banner.feature .feature-content {
    max-width: 59rem;
  }
}

@media (max-width: 991.98px) {
  /* Banner Home Page */

  .banner.home-page {
    background-position: 20%;
  }

  /* Banner Feature */

  .banner.feature {
    padding: 5rem 0;
  }

  .banner.feature .bg-trapezium-xl {
    --w-bg-trapezium-xl: 44%;
    --border-bt-trapezium: 37rem;
    --border-l-trapezium: 11rem;
  }

  .banner.feature .feature-content {
    max-width: 45rem;
  }

  .banner.feature .feature-content h2 {
    font-size: 2.8rem;
  }

  .banner.feature .feature-content .des {
    font-size: 1.7rem;
  }

  .banner.feature .btn {
    --w-btn: 13rem;
    --h-btn: 4rem;
    --fs-btn: 1.8rem;
  }

  .banner.feature .circle-disc-blue {
    width: 9%;
    top: -9px;
    left: -44px;
  }
}

@media (max-width: 767.98px) {
  /* Banner Client */

  .banner.client {
    padding: 12rem 0;
  }

  .banner.client .circle-disc-blue {
    width: 15%;
    top: -3rem;
    left: -5.2rem;
  }

  /* Banner Feature */

  .banner.feature .bg-trapezium-xl {
    --border-l-trapezium: 11rem;
    --border-bt-trapezium: 35rem;
  }

  .banner.feature .feature-content {
    max-width: 34rem;
  }

  .banner.feature .feature-content h2 {
    font-size: 2.2rem;
  }

  .banner.feature .feature-content .des {
    font-size: 1.5rem;
  }

  .banner.feature .circle-disc-blue {
    display: none;
  }
}

@media (max-width: 575.98px) {
  /* Banner Default */

  .banner.default {
    padding: 3rem 0;
  }

  /* Banner Client */

  .banner.client {
    padding: 6rem 0;
  }

  .banner.client .circle-disc-blue {
    display: none;
  }

  /* Banner Feature */

  .banner.feature .bg-trapezium-xl {
    top: auto;
    bottom: 0;
    transform: rotate(90deg);
    --w-bg-trapezium-xl: 100%;
    --border-l-trapezium: 8rem;
  }

  .banner.feature .container,
  .banner.feature .feature-wrap {
    height: 100%;
  }

  .banner.feature .feature-content {
    max-width: 100%;
  }

  .banner.feature .bg-feature-img {
    top: auto;
    transform: none;
  }
}
