.card-advertisement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-advertisement.reverse {
  flex-direction: row-reverse;
}

.card-advertisement .card-body {
  max-width: 64.8rem;
}

.card-advertisement h3 {
  margin-bottom: 4.8rem;
}

.advertisement-list li {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  margin-bottom: 1.2rem;
}

.card-advertisement p .highlight {
  font-family: hb;
  color: var(--second-cl);
}

.card-advertisement .card-image {
  max-width: 46.5rem;
}

@media (max-width: 1399.98px) {
  .card-advertisement .card-body {
    max-width: 58rem;
  }
}

@media (max-width: 1199.98px) {
  .card-advertisement .card-body,
  .card-advertisement .card-image {
    max-width: 42rem;
  }
}

@media (max-width: 991.98px) {
  .card-advertisement .card-body,
  .card-advertisement .card-image {
    max-width: 33rem;
  }
}

@media (max-width: 767.98px) {
  .card-advertisement,
  .card-advertisement.reverse {
    flex-direction: column;
  }

  .card-advertisement .card-body,
  .card-advertisement .card-image {
    max-width: 100%;
  }

  .card-advertisement h3 {
    margin-bottom: 1rem;
  }
}
