.card-list {
  display: flex;
  justify-content: space-between;
}

.card-list .card {
  max-width: 42.4rem;
  height: 30.8rem;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 0;
  background-color: #f4f5f7;
}

.card-list .card-img-top,
.card-list .card-title,
.card-list .card-text {
  margin-bottom: 1.2rem;
}

.card-list .card-img-top {
  width: var(--w-card);
  height: var(--h-card);
}

.card-list .card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
}

.card-list .card-title {
  font-family: hm;
}

.card-list .card-text {
  text-align: center;
}

.card-list:not(.link) .card-text {
  margin-bottom: 0;
}

.card-list .card-link {
  color: var(--second-cl);
  font-size: 1.6rem;
  text-decoration: underline;
}

.card-list:not(.link) .card-link {
  display: none;
}
