.card-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.card-list .card {
  width: 42.4rem;
  height: 30.8rem;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 0;
  background-color: #f4f5f7;
}

.card-list .card-img-top,
.card-list .card-title,
.card-list .card-text {
  margin-bottom: 1.2rem;
}

.card-list .card-img-top {
  width: var(--w-card);
  height: var(--h-card);
}

.card-list .card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
}

.card-list .card-title {
  font-family: hm;
  text-align: center;
}

.card-list:not(.home) .card-title {
  font-family: hl;
  margin-bottom: 0;
}

.card-list .card-text {
  text-align: center;
}

.card-list .card-link {
  color: var(--second-cl);
  font-size: 1.6rem;
  text-decoration: underline;
}

@media (max-width: 1399.98px) {
  .card-list .card {
    width: calc((100% / 3) - 5px);
  }

  .card-list .card-text {
    min-height: 9rem;
  }
}

@media (max-width: 991.98px) {
  .card-list {
    flex-direction: column;
  }

  .card-list .card {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .card-list .card:last-child {
    margin-bottom: 0;
  }
}
