.about-general {
  position: relative;
}

.about-general .bg-circle {
  position: absolute;
}

.about-general .bg-circle:first-child {
  top: 40.3rem;
  right: -28.9rem;
  z-index: 2;
}

.about-general .bg-circle:last-child {
  left: -35.4rem;
  bottom: -47rem;
}

.section-mission .container {
  position: relative;
}

.section-mission .rhombus-img {
  position: absolute;
  top: 13.4rem;
  left: -7.2rem;
  z-index: 1;
}

.section-mission .wrap {
  display: flex;
  align-items: center;
  column-gap: 6.4rem;
  position: relative;
  z-index: 3;
}

.mission-content {
  position: relative;
  max-width: 74.4rem;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
}

.mission-content h3 {
  color: var(--gray-cl-5);
  margin-bottom: 1.4rem;
}

.mission-content h2 {
  margin-bottom: 4.4rem;
}

.mission-content .btn {
  --w-btn: 17.5rem;
  --h-btn: 5.8rem;
  --fs-btn: 2.4rem;
}

.mission-content .btn.btn-primary {
  --cl: var(--white-cl);
  --border-cl: transparent;
  --bg-cl: var(--second-cl);
}

.mission-content .btn.btn-primary:hover {
  --cl: var(--white-cl);
  --border-cl: transparent;
  --bg-cl: var(--primary-cl);
}

.mission-image {
  opacity: 0;
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.section-product h3 {
  color: var(--white-cl);
  margin-bottom: 4.8rem;
}

.section-product .product-list {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-product .product-item {
  width: 19.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.6rem;
}

.section-product .product-item .icon {
  max-width: 8.2rem;
  display: inline-block;
}

.section-product .product-item .text {
  color: var(--white-cl);
}

.section-about-leadership h3 {
  margin-bottom: 4.8rem;
}

.section-about-leadership .circle-disc {
  position: absolute;
  right: 15.6rem;
  bottom: -13rem;
}

.section-about-leadership .card-leadership {
  display: flex;
  justify-content: space-between;
}

.card-leadership .card-item {
  max-width: 42.2rem;
  background-color: var(--gray-cl-2);
}

.card-leadership .card-body {
  padding: 2.4rem;
}

.card-leadership .leadership-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.card-leadership .leadership-name a {
  display: inline-block;
}

.card-leadership .leadership-des {
  color: var(--gray-cl-5);
  margin-bottom: 8px;
}

.card-leadership .leadership-content {
  font-size: 1.6rem;
}

.card-leadership .leadership-content ul {
  list-style: disc;
  padding: 0 0 0 24px;
  margin-bottom: 8px;
}

.card-leadership .leadership-content ul li ul {
  list-style: decimal;
}

.section-about-history .bg-circle {
  position: absolute;
  right: -25rem;
  bottom: -25rem;
}

.section-about-history .wrap {
  position: relative;
  height: 170rem;
}

.section-about-history .history-tree {
  position: absolute;
  top: 14rem;
  left: -68rem;
  z-index: 0;
}

.section-about-history h3 {
  text-align: center;
}

.section-about-history .history-list {
  position: relative;
  height: 100%;
}

.section-about-history .history-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-about-history .history-item:first-child {
  top: 13.5rem;
  left: 60rem;
}

.section-about-history .history-item:nth-child(2) {
  top: 55rem;
  left: 66rem;
}

.section-about-history .history-item:nth-child(3) {
  top: 96rem;
  left: 50rem;
}

.section-about-history .history-item:last-child {
  top: 117rem;
  left: 9rem;
  z-index: 1;
}

.section-about-history .history-item .year {
  margin-bottom: 8px;
}

.section-about-history .history-item .icon {
  margin-bottom: 1.8rem;
}

.section-accede {
  padding-bottom: 19.6rem;
  background-image: url("../../../image/accede-img.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.section-accede .wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.accede-content {
  max-width: 86.9rem;
  color: var(--white-cl);
}

.section-accede .btn {
  --w-btn: 28rem;
  --h-btn: 5.8rem;
  --fs-btn: 2.4rem;
}

.section-accede .btn.btn-primary {
  --cl: var(--second-cl);
  --border-cl: transparent;
  --bg-cl: var(--white-cl);
}

.section-accede .btn.btn-primary:hover {
  --cl: var(--white-cl);
  --border-cl: transparent;
  --bg-cl: var(--primary-cl);
}

@media (max-width: 1399.98px) {
  .about-general .bg-circle:first-child {
    width: 54rem;
    top: 49rem;
    right: -32rem;
  }

  .about-general .bg-circle:last-child {
    display: none;
  }

  .section-mission .rhombus-img {
    top: 17rem;
    left: -8rem;
  }

  .mission-content h2 {
    font-size: 5rem;
  }

  .mission-image {
    width: 36%;
  }

  .card-leadership .card-item {
    max-width: calc((100% / 3) - 1rem);
  }

  .section-about-leadership .circle-disc {
    right: 7.8rem;
    bottom: -5.2rem;
    width: 15rem;
  }

  .section-about-history .wrap {
    height: 130rem;
  }

  .section-about-history .history-item:first-child {
    top: 16rem;
    left: 42rem;
  }

  .section-about-history .history-item:nth-child(2) {
    top: 41rem;
    left: 49rem;
  }

  .section-about-history .history-item:nth-child(3) {
    top: 65rem;
    left: 38rem;
  }

  .section-about-history .history-item:last-child {
    top: 79rem;
    left: 11rem;
  }

  .section-about-history .history-item .icon {
    max-width: 12rem;
  }

  .section-about-history .feature {
    max-width: 20rem;
  }

  .section-about-history .history-tree {
    max-width: 80rem;
    top: 16rem;
    left: -33rem;
  }

  .section-about-history .bg-circle {
    right: -32rem;
    bottom: -28rem;
  }
}

@media (max-width: 1199.98px) {
  .about-general .bg-circle:first-child {
    width: 49rem;
    top: 45rem;
    right: -32rem;
  }
}

@media (max-width: 991.98px) {
  .section-mission .rhombus-img {
    top: 7.3rem;
    left: -5.3rem;
    width: 12%;
  }

  .mission-content .btn {
    --w-btn: 13rem;
    --h-btn: 4rem;
    --fs-btn: 1.8rem;
  }

  .section-about-history .wrap {
    height: 120rem;
  }

  .section-about-history .history-item:first-child {
    top: 14rem;
    left: 34rem;
  }

  .section-about-history .history-item:nth-child(2) {
    top: 36rem;
    left: 39rem;
  }

  .section-about-history .history-item:nth-child(3) {
    top: 61rem;
    left: 31rem;
  }

  .section-about-history .history-item:last-child {
    top: 82rem;
    left: 3rem;
  }

  .section-about-history .feature {
    max-width: 17rem;
  }

  .section-about-history .feature h4 {
    font-size: 2rem;
    font-family: hb;
  }

  .section-about-history .feature p {
    font-size: 1.4rem;
  }

  .section-about-history .history-tree {
    max-width: 70rem;
    top: 16rem;
    left: -33rem;
  }

  .section-accede .wrap {
    align-items: center;
  }

  .accede-content {
    max-width: 60%;
  }

  .section-accede .btn {
    --w-btn: 13rem;
    --h-btn: 4rem;
    --fs-btn: 1.8rem;
  }
}

@media (max-width: 767.98px) {
  .section-mission .wrap,
  .section-about-leadership .card-leadership {
    flex-wrap: wrap;
  }

  .section-mission .wrap {
    flex-direction: column-reverse;
    justify-content: center;
    column-gap: normal;
    row-gap: 3rem;
  }

  .mission-image {
    display: none;
  }

  .section-product .product-list {
    flex-wrap: wrap;
    row-gap: 3rem;
  }

  .section-product .product-item {
    width: 15rem;
  }

  .card-leadership .card-item {
    max-width: 100%;
    margin-bottom: 3rem;
  }

  .card-leadership .card-item:last-child {
    margin-bottom: 0;
  }

  .card-leadership .card-image img {
    width: 100%;
    object-fit: cover;
  }

  .section-mission .rhombus-img,
  .section-about-leadership .circle-disc {
    display: none;
  }

  .section-about-history .wrap {
    height: 100rem;
  }

  .section-about-history .history-item:first-child {
    top: 11rem;
    left: 25rem;
  }

  .section-about-history .history-item:nth-child(2) {
    top: 29rem;
    left: 30rem;
  }

  .section-about-history .history-item:nth-child(3) {
    top: 48rem;
    left: 21rem;
  }

  .section-about-history .history-item:last-child {
    top: 66rem;
    left: 1rem;
  }

  .section-about-history .history-item .icon {
    max-width: 8.8rem;
  }

  .section-about-history .feature {
    max-width: 14rem;
  }

  .section-about-history .feature h4 {
    font-size: 1.5rem;
  }

  .section-about-history .history-tree {
    max-width: 52rem;
    top: 16rem;
    left: -25rem;
  }
}

@media (max-width: 575.98px) {
  .section-about-history .history-item:first-child {
    top: 7rem;
    left: 22rem;
  }

  .section-about-history .history-item:nth-child(2) {
    top: 25rem;
    left: 24rem;
  }

  .section-about-history .history-item:nth-child(3) {
    top: 40rem;
    left: 18rem;
  }

  .section-about-history .history-item:last-child {
    top: 50rem;
    left: 3rem;
  }

  .section-about-history .history-tree {
    max-width: 40rem;
    top: 18rem;
    left: -17rem;
  }

  .section-accede {
    background-size: cover;
  }

  .section-accede .wrap {
    flex-wrap: wrap;
    row-gap: 3rem;
  }

  .accede-content {
    max-width: 100%;
  }
}
