.section-client-story {
  background-color: #f4f5f7;
}

.section-client-story h3 {
  text-align: center;
  margin-bottom: 4.8rem;
}

.client-news .nav-pills {
  margin-bottom: 4.8rem;
  column-gap: 1.2rem;
}

.client-news .nav-link {
  font-size: 2.4rem;
  padding: 6px 12px;
  color: var(--gray-cl-5);
  border-radius: 0;
  background-color: transparent;
}

.client-news .nav-link.active {
  color: var(--second-cl);
  background-color: transparent;
  border-bottom: 2px solid var(--second-cl);
}

.client-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  column-gap: 2.4rem;
}

.client-list .card {
  width: 42.4rem;
  padding: 1.6rem;
  border: none;
}

.client-list .card-img-top {
  margin-bottom: 6px;
}

.client-list .card-body {
  padding: 0;
}

.client-list .card-body p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 8px;
}

.client-list .card-title {
  font-family: hb;
  -webkit-line-clamp: 1;
}

.client-list .card-text {
  -webkit-line-clamp: 6;
}

.client-list .card .btn-readmore {
  font-size: 1.6rem;
  color: var(--second-cl);
  display: flex;
  justify-content: center;
}

.section-parameter .wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.parameter-item {
  display: flex;
  align-items: center;
  row-gap: 1.2rem;
  flex-direction: column;
  padding: 5.7rem 10rem;
  background-color: var(--gray-cl-1);
}

.parameter-item .number {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  font-family: mr;
  font-size: 7.2rem;
  line-height: 8.5rem;
  color: var(--second-cl);
}

.parameter-item .text {
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: var(--gray-cl-6);
}

.section-clientDetail .logo-client {
  margin-bottom: 2.4rem;
}

.section-clientDetail .card-advertisement .card-image {
  max-width: 64.8rem;
}

@media (max-width: 1199.98px) {
  .parameter-item {
    padding: 4rem;
  }
}

@media (max-width: 991.98px) {
  .parameter-item {
    padding: 2rem;
  }
  .parameter-item .number {
    font-size: 5rem;
  }

  .parameter-item .text {
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .client-list {
    flex-wrap: wrap;
  }

  .client-list .card {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .client-list .card:last-child {
    margin-bottom: 0;
  }

  .client-news .nav-link {
    font-size: 1.8rem;
  }
}

@media (max-width: 575.98px) {
  .client-news .nav-pills {
    flex-wrap: nowrap;
  }

  .section-parameter .wrap {
    grid-template-columns: 1fr;
  }

  .parameter-item {
    padding: 2rem;
    margin-bottom: 1.5rem;
  }

  .parameter-item:last-child {
    margin-bottom: 0;
  }

  .parameter-item .number {
    font-size: 6rem;
  }

  .parameter-item .text {
    font-size: 1.8rem;
  }
}
