.bg-circle {
  width: 69rem;
  height: 69rem;
}

.section-feature .bg-circle {
  position: absolute;
  top: 22.5rem;
  right: -43.3rem;
  z-index: 0;
}

.section-home .feature-wrap .card-img-top {
  --w-card: 8.2rem;
  --h-card: 8.2rem;
}

.section-home.section-benefit {
  padding: 16rem 0 9.6rem;
}

.advertise-content {
  max-width: 64rem;
}

.advertise-content h3 {
  color: var(--white-cl);
  margin-bottom: 2.4rem;
}

.advertise-content h3 span {
  font-family: mb;
}

.advertise-right {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.section-home .bg-trapezium-xl {
  --w-bg-trapezium-xl: 40%;
  --border-bt-trapezium: 67rem;
  --border-l-trapezium: 26rem;
}

.bg-advertise-img {
  --w-bg-advertise-img: 33%;
  width: var(--w-bg-advertise-img);
  position: absolute;
  z-index: 3;
}

.advertise-content .btn {
  --w-btn: 18.3rem;
  --h-btn: 5.8rem;
  --fs-btn: 2.4rem;
}

.advertise-content .btn.btn-primary {
  --cl: var(--second-cl);
  --border-cl: transparent;
  --bg-cl: var(--white-cl);
}

.advertise-content .btn.btn-primary:hover {
  --cl: var(--white-cl);
  --border-cl: transparent;
  --bg-cl: var(--primary-cl);
}

.section-benefit .bg-circle {
  position: absolute;
  top: -41.2rem;
  left: -22rem;
}

.benefit-content {
  width: 94rem;
  height: 94rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../../../image/circle-big.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.roadmap-top,
.roadmap-bottom {
  position: relative;
  width: 117rem;
  height: 28.8rem;
}

.roadmap-item {
  width: 28.1rem;
  height: 8rem;
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  padding: 0.8rem;
  border-radius: 0.25rem;
  background-color: var(--white-cl);
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.roadmap-top .roadmap-item {
  border: 1px solid var(--primary-cl);
}

.roadmap-top .roadmap-item.primary,
.roadmap-bottom .roadmap-item.primary {
  width: 38rem;
  height: 8rem;
  border: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roadmap-top .roadmap-item.primary {
  background-color: var(--primary-cl);
}

.roadmap-top .roadmap-item:nth-child(2) {
  bottom: 0;
  left: 0;
}

.roadmap-top .roadmap-item:nth-child(3) {
  top: 0;
  left: 9.9rem;
}

.roadmap-top .roadmap-item:nth-child(4) {
  top: 0;
  right: 9.9rem;
}

.roadmap-top .roadmap-item:nth-child(5) {
  bottom: 0;
  right: 0;
}

.roadmap-bottom .roadmap-item {
  border: 1px solid var(--second-cl);
}

.roadmap-bottom .roadmap-item.primary {
  justify-content: center;
  background-color: var(--second-cl);
}

.roadmap-bottom .roadmap-item:nth-child(2) {
  top: 0;
  right: 0;
}

.roadmap-bottom .roadmap-item:nth-child(3) {
  bottom: 0;
  right: 9.9rem;
}

.roadmap-bottom .roadmap-item:nth-child(4) {
  bottom: 0;
  left: 9.9rem;
}

.roadmap-bottom .roadmap-item:nth-child(5) {
  top: 0;
  left: 0;
}

.roadmap-item .icon {
  width: 4.8rem;
  flex-shrink: 0;
  display: inline-block;
}

.roadmap-item .text {
  font-family: hb;
  font-size: 1.3rem;
  line-height: calc(13px * 1.5);
}

.roadmap-item.primary .text {
  text-transform: uppercase;
}

.roadmap-bottom .roadmap-item.primary .text {
  color: var(--white-cl);
}

.section-home.section-contact {
  background-color: #f4f5f7;
}

.section-contact .btn {
  --w-btn: 20rem;
  --h-btn: 6.4rem;
  --fs-btn: 2.4rem;
}

.section-contact .btn.btn-primary {
  --cl: var(--white-cl);
  --border-cl: transparent;
  --bg-cl: var(--second-cl);
}

.section-contact .btn.btn-primary:hover {
  --cl: var(--white-cl);
  --border-cl: transparent;
  --bg-cl: var(--primary-cl);
}

.main-home .section-contact .btn-send {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1400px) {
  .section-home:nth-child(2) {
    height: 60.6rem;
  }
}

@media (max-width: 1399.98px) {
  .advertise-right {
    width: 40%;
  }

  .section-home .bg-trapezium-xl {
    --w-bg-trapezium-xl: 100%;
    --border-bt-trapezium: 52rem;
  }

  .bg-advertise-img {
    --w-bg-advertise-img: 80%;
  }

  .roadmap-top,
  .roadmap-bottom {
    width: 100%;
  }
}

@media (max-width: 1199.98px) {
  .advertise-content {
    max-width: 50%;
  }

  .section-home .bg-trapezium-xl {
    --border-bt-trapezium: 45rem;
    --border-l-trapezium: 18rem;
  }

  .bg-advertise-img {
    --w-bg-advertise-img: 90%;
  }

  .section-benefit .bg-circle {
    top: -46rem;
    left: -30rem;
  }
}

@media (max-width: 991.98px) {
  .bg-circle {
    display: none;
  }

  .advertise-content h3 {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }

  .advertise-content .btn {
    --w-btn: 13rem;
    --h-btn: 4rem;
    --fs-btn: 1.8rem;
  }

  .advertise-right {
    width: 46%;
  }

  .section-home .bg-trapezium-xl {
    --border-bt-trapezium: 36rem;
    --border-l-trapezium: 16rem;
  }

  .bg-advertise-img {
    --w-bg-advertise-img: 80%;
  }

  .benefit-content {
    width: 100%;
    height: 100%;
  }

  .roadmap-top,
  .roadmap-bottom {
    height: 36rem;
  }

  .roadmap-top .roadmap-item.primary,
  .roadmap-bottom .roadmap-item.primary {
    width: 25.8rem;
    height: 5.4rem;
  }

  .roadmap-top .roadmap-item.primary {
    top: auto;
    bottom: 6.5rem;
    transform: translate(-50%, 0);
  }

  .roadmap-bottom .roadmap-item.primary {
    top: 6.5rem;
    transform: translate(-50%, 0);
  }

  .roadmap-item.primary .icon {
    width: 4rem;
  }

  .roadmap-item:not(.primary) {
    width: 48%;
    height: 9.7rem;
    flex-direction: column;
  }

  .roadmap-top .roadmap-item:nth-child(2),
  .roadmap-top .roadmap-item:nth-child(5) {
    bottom: calc(50% - (8rem / 4));
  }

  .roadmap-top .roadmap-item:nth-child(3) {
    left: 0;
  }

  .roadmap-top .roadmap-item:nth-child(4) {
    right: 0;
  }

  .roadmap-bottom .roadmap-item:nth-child(2),
  .roadmap-bottom .roadmap-item:nth-child(5) {
    top: calc(50% - (8rem / 4));
  }

  .roadmap-bottom .roadmap-item:nth-child(3) {
    right: 0;
  }

  .roadmap-bottom .roadmap-item:nth-child(4) {
    left: 0;
  }

  .roadmap-item:not(.primary) .icon {
    width: 4rem;
  }

  .roadmap-item:not(.primary) .text {
    text-align: center;
  }

  .section-contact .btn {
    --w-btn: 13rem;
    --h-btn: 4rem;
    --fs-btn: 1.8rem;
  }
}

@media (max-width: 767.98px) {
  .advertise-right {
    width: 50%;
  }

  .section-home .bg-trapezium-xl {
    --border-bt-trapezium: 40rem;
    --border-l-trapezium: 14rem;
  }

  .roadmap-item:not(.primary) {
    height: 8.8rem;
  }

  .roadmap-top .roadmap-item:nth-child(2),
  .roadmap-top .roadmap-item:nth-child(5) {
    bottom: calc(50% - (8rem / 5));
  }

  .roadmap-bottom .roadmap-item:nth-child(2),
  .roadmap-bottom .roadmap-item:nth-child(5) {
    top: calc(50% - (8rem / 5));
  }

  .roadmap-item.primary .icon {
    width: 2.4rem;
  }

  .roadmap-item:not(.primary) .icon {
    width: 3rem;
  }

  .roadmap-item:not(.primary) .text {
    font-size: 1.2rem;
  }
}

@media (max-width: 575.98px) {
  .advertise-content {
    max-width: 100%;
  }

  .section-advertise .advertise-right {
    width: 100%;
    top: auto;
    bottom: 0;
  }

  .section-home .bg-trapezium-xl {
    top: auto;
    bottom: 0;
    --border-l-trapezium: 10rem;
    transform: rotate(90deg);
  }

  .bg-advertise-img {
    --w-bg-advertise-img: 100%;
    right: 0;
    bottom: 1rem;
  }

  .roadmap-top .roadmap-item:nth-child(2),
  .roadmap-top .roadmap-item:nth-child(5) {
    bottom: calc(50% - (8rem / 2));
  }

  .roadmap-bottom .roadmap-item:nth-child(2),
  .roadmap-bottom .roadmap-item:nth-child(5) {
    top: calc(50% - (8rem / 2));
  }

  .roadmap-item:not(.primary) {
    height: 10.7rem;
  }

  .section-home.section-benefit {
    padding: 4.8rem 0;
  }
}
