.section {
  position: relative;
  padding: 4.8rem 0;
}

.section.pt-96 {
  padding-top: 9.6rem;
}

.section.pb-96 {
  padding-bottom: 9.6rem;
}

.section-title {
  margin-bottom: 4.6rem;
}

.section-second-cl {
  background-color: var(--second-cl);
}

/* Logo */

.logo {
  display: inline-block;
  max-width: 20.7rem;
}

/* Button */

.btn {
  width: var(--w-btn);
  height: var(--h-btn);
  font-size: var(--fs-btn);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-primary {
  color: var(--cl);
  border: 1px solid var(--border-cl);
  background-color: var(--bg-cl);
  transition: all 0.5s ease-in-out 0s;
}

.btn.btn-primary:hover {
  color: var(--cl);
  background-color: var(--bg-cl);
  border: 1px solid var(--border-cl);
}

/* Background trapezium small */

.bg-trapezium-sm {
  width: 42%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-bottom: 12.6rem solid var(--white-cl);
  border-left: 24rem solid transparent;
}

/* Background trapezium big */

.bg-trapezium-xl {
  width: var(--w-bg-trapezium-xl);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border-bottom: var(--border-bt-trapezium) solid var(--gray-cl-2);
  border-left: var(--border-l-trapezium) solid transparent;
}

/* Line */

.line {
  width: 100%;
  height: 1.2rem;
  background-color: #95ccdd;
  position: absolute;
  left: 0;
  z-index: 0;
}

.line.--top {
  top: 2.3rem;
}

.line.--bottom {
  bottom: 1.9rem;
}

/* Back to top */

.backtotop {
  position: fixed;
  z-index: 99;
  right: 5rem;
  bottom: 5rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  border: 1px solid var(--second-cl);
  background-color: var(--white-cl);
  opacity: 0;
  animation: fadeOutDown;
  animation-duration: 2s;
}

.backtotop.show {
  opacity: 1;
  animation: fadeInUp;
  animation-duration: 2s;
}

.backtotop i {
  color: var(--second-cl);
}

@media (max-width: 1399.98px) {
  /* Logo */

  .logo {
    max-width: 15rem;
  }
}

@media (max-width: 991.98px) {
  .bg-trapezium-sm {
    width: 45%;
    border-bottom: 6.6rem solid var(--white-cl);
    border-left: 15rem solid transparent;
  }
}

@media (max-width: 767.98px) {
  .bg-trapezium-sm {
    width: 100%;
  }
}
