:root {
  --primary-cl: #fdb913;
  --second-cl: #2d5da9;
  --white-cl: #ffffff;
  --black-cl: #000000;
  --gray-cl-1: #f4f5f7;
  --gray-cl-2: #e7eaed;
  --gray-cl-3: #d1d8dc;
  --gray-cl-5: #84939a;
  --gray-cl-6: #6f818c;
  --gray-cl-7: #3c4248;
  --dark-cl: #262626;
}

html {
  font-size: 62.5%;
}

body {
  font-family: hl;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--gray-cl-7);
}

h1,
h2,
h3,
h4 {
  font-family: mr;
}

h1 {
  font-size: 8rem;
  line-height: 1;
}

h2 {
  font-size: 7.2rem;
  line-height: 8.5rem;
}

h3 {
  font-size: 4.7rem;
  line-height: 7.2rem;
}

h4 {
  font-size: 2.4rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main {
  position: relative;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2.2rem;
  }
}
